.fig1{
    width: 70%;
    /* height: 500px; */
    border-radius: 10%;
    margin: 15%;
    ;
}

.box1{
    border-radius: 100px;
    background-color: orangered;
    margin: 10%;
}

body{
    background-color: rgb(255, 188, 168);
}