session6/project1/assets/
session6/project3/assets/
session1/project2/jewellery/
session2/project3/pexels-ryxnole-4741616.jpg/
session3/project2/image/
session3/project3/images/
session4/project3/images/
session5/unique-industrial-architecture-house-in-daylight-realistic-ai-generative-free-photo.jpg/
session5/IMG_2112.JPG/
session7/project1/images/