@font-face {
    font-family: 'Gotham';
    src:url('fonts/Gotham.woff2') format('woff2'),
        url('fonts/Gotham.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gotham', sans-serif;
    margin: 0;
    color: hsl(0, 0%, 15%);
}
a{
    text-decoration: none;
    color: hsl(0, 0%, 15%);
}
a:hover{
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6,p,img,i{
    margin: 0;
    cursor: pointer;
}

section{
    width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 5px 50px;
    box-sizing: border-box;
}
header,
section{
    border-bottom: 1px solid hsl(0, 0%, 70%);

}
header div,
header i,
header img{
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

header .logo{
    flex-direction: column;
}
header .logo p {
    font-size: .75rem;
}
header .side{
    flex-direction: row;
}
header .side a{
    border-right: 1px solid #000000;
    padding: 5px 20px;
    margin-right: 20px;
}

.sub-header{
    display: flex;
    height: 50px;
    align-items: center;
    flex-wrap: wrap;
}

.sub-header a{
    color: darkgreen;
    height: 100%;
    flex: calc(25%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hero{
    height: 400px;
    
}