html{
    scroll-behavior: smooth;
}
body{
    background-color: #edeeef;
    margin: 0;
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    color: rgb(35, 35, 35);
    /* gap: 50px; */
}
h1,h2,h3,p{
    margin: 0;
}
.nav{
    width: 95%;
    margin: 15px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    align-self: center;
}
.nav.side{
    flex-direction: column;
    height: 70vh;
    width: 80px;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    margin: 0;
}
nav i {
    color: rgb(115, 115, 115);
}

.neu{
    font-size: 20px;
    font-weight: 100;
    background-color: #e0e0e064;
    box-shadow:  2px 2px 5px #b8b9be, -3px -3px 7px #fff;
    backdrop-filter: blur(100px);
    color: rgb(35, 35, 35);
    border-radius: 50px;
    border: 1px solid rgba(190, 190, 190, 0.479);
    text-decoration: none;
    text-align: center;
    transition: all .3s ease;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60%;
    gap: 20px;
}

.navbar.side{
    flex-direction: column;
    gap: 10px;
}
.nav-icon.side{
    height: unset;
    padding: 0;
    display: flex;
    justify-content: center;
}

.logo, .nav-icon, .quote{
    cursor: pointer;
    padding: 0 30px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: all .3s ease;
}
.logo.side{
    height: unset;
    margin-top: 30px;
}
.quote.side{
    padding: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

}

.logo{
    font-size: 40px;
    font-weight: 700;
    color: orangered;
}

.nav-icon:hover,
.quote:hover{
    background: rgb(255, 104, 49);
    box-shadow: inset 2px 2px 15px rgb(255, 0, 0),inset -3px -3px 7px #fff;
    padding: 0px 60px;
    color: #e0e0e0;
}

.logo:hover{
    letter-spacing: 10px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 120%;
    left: 0;
    gap: 10px;
    transition: all .3s ease;
}

.dropdown-content.side{
    top: 0;
    left: 200%;
}


.dropdown-item {
    padding: 12px 14px;
    width: 115px;
    background-color: #e0e0e0;
}


.dropdown-item:hover{
    width: 175px;
    background: rgb(255, 104, 49);
    box-shadow: inset 2px 2px 15px rgb(255, 0, 0),inset -3px -3px 7px #fff;
    color: #e0e0e0;
}


.side:hover{
    padding: 0;
}


#hero {
    background-image: url('images/hero1.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 90vh;
    width: 100%;
}


.hero-text {
    /* top: 20%; */
    width: 50%;
    height: 70%;
    padding: 30px;
    margin-bottom: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.hero-text:hover{
    box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff;

}

.hero-text h2 {
    font-size: 30px;
    font-weight: 900;
    color: orangered;
}

.hero-text h1{
    font-size: 40px;
}

.buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.buttons a{
    padding: 20px 50px;
}
.buttons a:hover{
    background: rgb(255, 104, 49);
    box-shadow: inset 2px 2px 15px rgb(255, 0, 0),inset -3px -3px 7px #fff;
    color: #e0e0e0;
    padding: 20px 70px;
}

#al{
    background-color: orangered;
    color: #e0e0e0;
}

#al:hover{
    background-color: #e0e0e0;
    box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff;
    color: rgb(35, 35, 35);
    padding: 20px 70px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.slider i{
    cursor: pointer;
    transition: all .3s ease;
}
.slider i:hover{
    transform: scale(1.3);
}

#tablets{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px 200px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.color{
    color: orangered;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 150px;
}
#top{
    height: 250px;
}
#topcard{
    flex: unset;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.card{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box ;
    height: 100%;
    /* transition: all .3s ease; */
}
.card:hover{
    flex: 2;
    box-shadow: inset 2px 2px 5px #b8b9be,inset -3px -3px 7px #fff;
}
.card .text{
    box-sizing: border-box ;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.card p{
    display: -webkit-box;            
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;               
    width: 80%;
    text-align: center;
}
#pics{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 100px 200px;
    box-sizing: border-box;
    gap: 20px;
}
.col{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 500px;
    justify-content: space-evenly;
    position: relative;
}

.holder{
    overflow: hidden;
    aspect-ratio: 2/1;
    cursor: pointer;

}

.col img{
    width: 100%;
    transition: all .3s ease;
}

.col img:hover{
    filter: brightness(.5);
    transform: scale(1.1);
}

#mid{
    aspect-ratio: 1/1;
}

#mid img{
    height: 120%;
    width: 120%;
}

.col .pp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 600;
    font-size: 30px;
    z-index: 100;
    opacity: 0;
    transition: all 0.3s ease;
}
