/* global  */

body{
    margin: 0px;
}

a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #404040;
    font-weight: 500;
}
a:hover{
    text-decoration: underline;
    filter: none;
}

a img{
    transition: filter .3s ease;

}
a img:hover{
    filter: brightness(70%);
}

p{
    color: #404040;
    margin: 0px;
    font-weight: 200;
    padding: 3px;
}

h2{
    font-size: 35px;
    color: #404040;
    margin: 0px;
    line-height: 125%;
    padding: 5px 0px;
}

h3{
    font-weight: 100;
    font-size: 25px;
    margin: 10px 0px;
}
h4{
    font-size: 20px;
    margin: 0px;
}
h6{
    margin: 0px;
    font-weight: 200;
    color: #616161;
    font-size: 12px;
    padding: 3px;

}

img{
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    margin: 0px;
}

.section1,
.section2,
.section3,
.section4{
    display: flex;
}

.bodycontainer{
    /* background-color: rgb(197, 225, 226); */
    width: 1200px;
    margin: 24px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(74, 74, 74);
    padding-bottom: 20px;
    gap: 10px;
    
}

.walltext{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
}

.wallimg{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.wallcluster{
    flex: 1;
}

/* storyheader  */
.storyheader{
    display: flex;
    align-items: center;
    gap: 20px;
}
.storyheader hr{
    height: 50%;
}

.storyheader img{
    width: 30px;
}
.card1,
.card2{
    display: flex;
}

/* asia pacific  */
.section1 .card1 .walltext{
    flex: 1;
}

.section1 .card1 .wallimg{
    flex: 2;
}

.section1 .card2 .walltext{
    flex: 2;
}

.section1 .card2 .wallimg{
    flex: 1;
    align-items: end;
}

.section1 .card2 .wallimg img{
    width: 50%;
}

/* us elections  */

.section2 .card1 .walltext{
    flex: 1;
}
.section2 .card1 .wallimg{
    flex: 2;
}

.section2 .sidebar{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0px 15px;
    box-sizing: border-box;
}

.section2 .sidebar hr{
    width: 100%;
}

/* hero  */

.herotext{
    flex: 1;
    background-color: #1b1b1b;
    align-content: center;
}

.herotext a{
    color: white;
    flex-direction: column;
    align-items: start;
    padding: 20px;
}

.herotext h2{
    color: white;
}

.heroimg{
    flex: 2;
}

/* pictures */
.section3 .picture{
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.section3 .picture img{
    height: 260px;
}


/* the last read  */
.section4 .picture{
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.section4 .picture img{
    height: 180px;
}


@media  screen and (min-width:1024px) and (max-width: 1365px) {
    .bodycontainer{
        width: 100%;
        margin: 24px 30px;
    }









}


@media  screen and (min-width:768px) and (max-width: 1023px) {
    .bodycontainer{
        background-color: rgb(197, 225, 226);
        width: 100%;
        margin: 24px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid rgb(74, 74, 74);
        padding-bottom: 30px;
        
    }
}

@media  screen and (max-width: 767px) {
    .bodycontainer{
        background-color: rgb(197, 225, 226);
        width: 100%;
        margin: 24px 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1px solid rgb(74, 74, 74);
        padding-bottom: 30px;
        
    }
}