footer a img:hover{
    filter: none;
}

.footer-links{
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: center;
}
.footer-links .container{
    width: 1440px;
    box-sizing: border-box;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-links .container .column{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.on-left{
    flex: 1;
}
.on-right{
    flex: 3;
}
.footer-links .container .column h2{
    font-size: 20px;
    font-weight: lighter;
}
.footer-links .container .column a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.footer-links .container .column a img{
    width: 20px;
    margin-right: 5px;
}
.footer-links .container .column a:hover{
    text-decoration-line: underline;
}


.footer-company{
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: center;
}
.footer-company .container{
    width: 1440px;
    box-sizing: border-box;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-company .container .column{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.footer-company .container .column h2{
    font-size: 20px;
    font-weight: 400;
}
.footer-company .container .column p{
    font-size: 15px;
    font-weight: lighter;
}
.footer-company .container .column .socials{
    display: flex;
    gap: 15px;
}
.social{
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5px;
    padding: 10px;
    color: rgb(80, 80, 80);
    display: flex;
    transition: box-shadow .3s ease;
}
.social img{
    width: 20px;
}
.social:hover{
    box-shadow: 0px 0px 10px  rgb(223, 223, 223);
    border: 1px solid rgb(0, 0, 0);
}

.footer-product{
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: center;
}
.footer-product .container{
    width: 1440px;
    box-sizing: border-box;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer-product .container .column{
    display: flex;
    flex-direction: column;
    width: 48%;
}
.footer-product .container .column h2{
    font-size: 20px;
    font-weight: lighter;
}
.footer-product .container .column .products{
    display: flex;
    gap: 30px;
}
.footer-product .container .column .products a{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    color: black;
}
.footer-product .container .column .products p{
    font-weight: lighter;
    margin-top: 10px;
}
.footer-product .container .column .products img{
    width: 20px;
}
.footer-product .container .column .products a:hover{
    text-decoration-line: underline;
}


.footer-legal{
    border-top: 1px solid darkgray;
    display: flex;
    justify-content: center;
}
.footer-legal .container{
    height: 100px;
    width: 1440px;
    box-sizing: border-box;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.left{
    justify-content: left;
}
.right{
    justify-content: right;
}
.footer-legal .container .links{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 50%;
}
.footer-legal .container .links a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-align: center;
}
.footer-legal .container .links a img{
    width: 25px;
}
.footer-legal .container .links a:hover{
    text-decoration-line: underline;
}

.footer-legal .container .text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: gray;
    font-weight: lighter;
}
.footer-legal .container .text a{
    text-decoration: none;
    color: gray;
}
.footer-legal .container .text a:hover{
    text-decoration-line: underline;
}




@media screen and (min-width:1024px) and (max-width: 1439px) {
    body{
        background-color: cadetblue;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    body{
        background-color: olivedrab;
        
    }
}

@media screen and (max-width: 767px) {
    body{
        background-color: orange;
    }
}