body{
    margin: 0px;
}

.header{
    background-color: white;
    top: 0px;
    position: sticky;
}

.header-top{
    border-top: 2px solid white;
    background-color: black;
    display: flex;
    justify-content: center;
}
.header-top .container{
    width: 1440px;
    padding: 3px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.header-top a{
    text-decoration: none;
    color: white; 
    margin: 0px;
}
.header-top a:hover{
    text-decoration-line: underline;
}
.header-top p{
    background-color: rgb(0, 0, 255);
    color: white;
    display: inline-block;
    padding: 2px 5px;
    font-weight: bold;
}

.header-bot{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid darkgray;
    padding: 10px 0px;
}
.header-bot .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    box-sizing: border-box;
    padding: 0px 30px;
}
.header-bot a:hover{
    text-decoration: none;
}
.sub-header a:hover{
    text-decoration: none;
}

.header-bot-left{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
    font-size: 25px;
    align-items: center;
}

.header-bot-left img{
    width: 40px;
    padding-right: 5px;
}

.header-bot-center{
    display: flex;
    justify-content: start;
    gap: 10px;
    font-size: 14px;
}
.header-bot-center a{
    display: flex;
}

.header-bot-center a img{
    width: 10px;
    margin-left: 5px;
}
.header-bot-center div{
    align-content: center;
    height: 100%;
}
.header-bot-center div:hover{
    border-bottom: 4px solid orangered;
    margin-bottom: -4px;
}

.header-bot-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.mynews{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding: 13px 0px;
}
.mynews:hover{
    border-bottom: 4px solid orangered;
    margin-bottom: -4px;
}

.search img{
    width: 35px;
    border-radius: 5px;
}

.search img:hover{
    box-shadow: 0px 0px 10px  rgb(223, 223, 223);
    filter: none;
}


.signin-button{
    border: 1px solid rgb(80, 80, 80);
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(80, 80, 80);
    text-decoration: none;
    transition: box-shadow .3s ease;
}
.signin-button:hover{
    box-shadow: 0px 0px 10px  rgb(223, 223, 223);
    color: black;
    border: 1px solid rgb(0, 0, 0);
}

.register-button{
    background-color: black;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    transition: box-shadow .3s ease, background-color .3s ease;
}
.register-button:hover{
    background-color: rgb(65, 65, 65);
    box-shadow: 0px 0px 10px  rgb(223, 223, 223);
}

.sub-header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid darkgray;
    padding: 10px 0px;
}
.sub-header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1440px;
    box-sizing: border-box;
    padding: 0 30px;
}

.prices{
    display: flex;
    flex-direction: row;
    background-color: red;
}

.price{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    font-size: 15px;
}
.price img{
    width: 15px;
}
.price a{
    text-decoration: none;
    color: black;
}
.price .number{
    font-weight: lighter;
}
.price .percent-red{
    font-weight: lighter;
    color: darkred;
}
.price .percent-green{
    font-weight: lighter;
    color: darkgreen;
}

.sub-header .ad {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.sub-header .ad img{
    width: 20px;
    margin-right: 5px;
}






@media screen and (min-width:1024px) and (max-width: 1365px) {
    .hide1{
        background-color: red;
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
    .hide1,
    .hide2{
        background-color: red;
        display: none;
    }
}

@media screen and (max-width: 767px) {


}
