body {
    background-color: rgb(161, 161, 255);
    font-family: 'Josefin Sans', sans-serif;
}

#title{
    color: blue;
    font-family: cursive;
    font-size: 50px;
}

p{
    /* font-family: cursive; */
    color: black;
    font-size: 25px;
}
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolor explicabo ex cum delectus officia.</p>

h2{
    font-family: 'futura', sans-serif;
    color: white;

    
}
